[Unit]
Description=Home Raspberry Server

[Service]
WorkingDirectory=/home/rpi/Code/HomePiServer
ExecStart=/usr/bin/python /home/rpi/Code/HomePiServer/app.py
ExecStop=/usr/bin/killall -9 python
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piserver
User=rpi

[Install]
WantedBy=multi-user.target
